.header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #444444;
  height: 65px;
  color: #fff;
  padding-left: 50px;
}

.header__item {
  text-decoration: none;
  list-style: none;
  font-size: 23px;
  padding-right: 30px;
}

.active {
  color: #fe6348;
}
